<style>
.container.main-content {
	background: url('content/images/Exam.jpg') no-repeat center;
	background-size: contain;
	width: 100%;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}

.signIn-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	width: 80%;
	float: right;
}
.sign-container{
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 10px 0px #000000a6;    
    }
</style>
<div class="row signIn-content">
	<div class="col-sm-5 col-sm-offset-5">
		<div class="sign-container">			
			<!-- <div class="alert alert-danger" ng-show="vm.authenticationError">
				<strong>Failed to sign in!</strong> Please check your credentials
				and try again.
			</div> -->
			<form class="form" role="form" ng-submit="vm.login()">
			 <fieldset>
                 <legend><h1 style="color: white; font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 40px;" >Sign in</h1></legend>			
				<div class="form-group">
					<label for="username" style="color: white; font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px;">Login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input type="text"
						id="username" placeholder="Your username"
						ng-model="vm.login.username" size="30">
				</div>
				<div class=" ">
					<label for="password" style="color: white; font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px;">Password</label> <input type="password"
						 id="password" placeholder="Your password"
						ng-model="vm.login.password" size="30">
				</div>
				<div class="form-group"></div>
				<Center><button type="submit" class="btn btn-primary">Sign in</button></Center>
				</fieldset>
				
			</form>
		</div>
	</div>
</div>


<!-- <span class=" img-rounded"></span>




<div class="col-sm-12"></div>



<div ng-cloak>
	<div class="row">
		<div class="col-sm-4">
			<span class="img-rounded"></span>
		</div>
	</div>
</div> -->

<!--   <div class="col-sm-8">                     

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                 <a class="alert-link" href="" ng-click="vm.login()">sign in</a>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

           
        </div> -->
